<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión persona</title>
    <link href="../static/css/bootstrap-grid.min.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>

<body>
    <div class="container">
        <br>
        <div>
            <a href="/persona/" class="btn btn-primary">Personas</a>
            <a href="/deporte/" class="btn btn-primary">Deportes</a>
        </div><br>

    </div>
</body>

</html>